<app-home></app-home>

<h3 class="mb-3">Reservation list</h3>
<table *ngIf="reservations.length; else noReservations" class="table table-striped">
  <thead>
  <tr>
    <th>Guest</th>
    <th>Email</th>
    <th>Room No.</th>
    <th>Check-in</th>
    <th>Check-out</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reservation of reservations" class="align-middle">
    <td>{{ reservation.guestName }}</td>
    <td>{{ reservation.guestEmail }}</td>
    <td>{{ reservation.roomNumber }}</td>
    <td>{{ reservation.checkInDate | date:'MM-dd-yy' }}</td>
    <td>{{ reservation.checkOutDate | date:'MM-dd-yy' }}</td>
    <td>
      <button class="btn btn-sm btn-danger mx-1" (click)="deleteReservation(reservation.id)">Delete</button>
      <button class="btn btn-sm btn-secondary mx-1" [routerLink]="['/edit', reservation.id]">Edit</button>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #noReservations>
  <h4 class="text-center">There are no reservations</h4>
</ng-template>
