<app-home></app-home>

<h2 class="mt-4">Create a new reservation</h2>
<form class="row g-3" [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div class="col-md-6">
    <label>Check-in Date:</label>
    <input class="form-control" type="date" formControlName="checkInDate">
    <div class="alert alert-danger p-2 my-2"
         Check-in date is required
         *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
    </div>
  </div>
  <div class="col-md-6">
    <label>Check-out Date:</label>
    <input class="form-control" type="date" formControlName="checkOutDate">
    <div class="alert alert-danger p-2 my-2"
         *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
      Check-out date is required
    </div>
  </div>
  <div class="col-md-6">
    <label>Guest Name:</label>
    <input class="form-control" type="text" formControlName="guestName">
    <div class="alert alert-danger  p-2 my-2"
         *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
      Guest name is required
    </div>
  </div>
  <div class="col-md-6">
    <label>Email:</label>
    <input class="form-control" type="email" formControlName="guestEmail">
    <div class="alert alert-danger p-2 my-2"
         *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
      Email is invalid
    </div>
  </div>
  <div class="col-md-3">
    <label>Room Number:</label>
    <input class="form-control" type="number" formControlName="roomNumber">
    <div class="alert alert-danger p-2 my-2"
         *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
      Room number is required
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn btn-primary" type="submit" [disabled]="reservationForm.invalid">Submit</button>
  </div>
</form>
